*body{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
img{
    width: 100%;
}
@font-face {
    font-family: quicksand;
    src: url();
}

 /* div{
    border:1px solid black;
}  */

#header-wrapper{
    background:#3D3D3D;
    overflow: hidden;
}
.first-menu a{
    color: white;
    text-decoration: none;
}
.first-menu a:hover{
    color: #F57909;
}


/* .container{
    width: 1050px;
    margin: 0 auto;
}
.row{
    display: flex;
} */
/* .jst{
    justify-content: center;
} */
ul.nav li{
    display: inline-block;
}
.nav-bt a{
    color: #737272;
    font-family: quicksand;
}
/* .col-50{
    width: 50%;
}
.col-30{
    width: 30%;
}
.col-70{
    width: 70%;
} */


/* section 1 */
#section1{
    background-color: #ffffff;
    overflow: hidden;
}
.logo{
    width:100%;
}
.img-card{
overflow: hidden;
height: 300px;
}
.img-card img{
    object-fit:cover;
}
/* .search-div{

} */
.search-box{
    width:100%;
    display: flex;
    position: relative;
    justify-content: right;
  }
  .search-input{
    width: 40%;
    padding: 10px;
    border: 2px solid #111d5e;
    border-radius:10px 0 0 10px ;
    border-right: none;
    outline: none;
    font-size: 20px;
    color: tomato;
    background: none;
  }
  .search-button{
   text-align: center;
  height: 53px;
  width: 40px;
  outline: none;
  cursor: pointer;
  border: 2px solid #111d5e;
 border-radius: 0 10px 10px 0 ;
  border-left: none;
  color: white;
  background: #B161A7;
  font-size: 20px;
  border-left: 4px solid #111d5e;
  }
  .tab-content {
    background: #F57909;
    color: white;
  }
   .tab-btn-pane{
    background: #3D3D3D;
    color: white;
   }
  .btn-pane{
    background-color:#F57909;
    color: #F57909;
  }

/* footer */
#footer{
    background-color: #3D3D3D;
    color: white;
}
.foot-flex{
    flex: 0 0 0%;
}
/* About Us html page CSS */

/* section 2 */
.about-row{
    background-color: #F57909;
    color: white;
}
.about-card{
    height: 300px;
    overflow: hidden;
}
.about-card img{
    object-fit: cover;
}

/* contact us css*/
.contact-form-wrapper {
    padding: 50px 0
  }
  
  .contact-form {
    padding: 30px 40px;
    background-color: #ffffff;
    border-radius: 12px;
    border: 2px solid #e39b68;
    max-width: 400px;
  }
  
  .contact-form textarea {
    resize: none;
  }
  
  .contact-form .form-input,
  .form-text-area {
    background-color: #f0f4f5;
    height: 50px;
    padding-left: 16px;
  }
  
  .contact-form .form-text-area {
    background-color: #f0f4f5;
    height: auto;
    padding-left: 16px;
  }
  
  .contact-form .form-control::placeholder {
    color: #aeb4b9;
    font-weight: 500;
    opacity: 1;
  }
  
  .contact-form .form-control:-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control::-ms-input-placeholder {
    color: #aeb4b9;
    font-weight: 500;
  }
  
  .contact-form .form-control:focus {
    border-color: #F57909;
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.07), 0 0 8px #F57909;
  }
  
  .contact-form .title {
    text-align: center;
    font-size: 24px;
    font-weight: 500;
  }
  
  .contact-form .description {
    color: #d65b03;
    font-size: 20px;
    font-family: quicksand;
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper {
    text-align: center;
  }
  
  .contact-form .submit-button-wrapper input {
    border: none;
    border-radius: 4px;
    background-color: #F57909;
    color: white;
    text-transform: uppercase;
    padding: 10px 60px;
    font-weight: 500;
    letter-spacing: 2px;
  }
  
  .contact-form .submit-button-wrapper input:hover {
    background-color: #d26302;
  }

  /* Navigation Toggler */

  /* .navigation {
    height: 55px;
    background: #3D3D3D;
} */

/* .nav-container {
    max-width: 1000px;
    margin: 0 auto;
} */
/* nav {
    float: right;
} */
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
nav ul li {
    float: left;
    position: relative;
}
nav ul li a,nav ul li a:visited {
    display: block;
    padding: 0 20px;
    line-height: 55px;
    color: #fff;
    background: #262626 ;
    text-decoration: none;
}
nav ul li a{
    background: transparent;
    color: #FFF;
}
nav ul li a:hover, nav ul li a:visited:hover {
    background: #F57909;
    color: #ffffff;
}
nav ul li a:not(:only-child):after, nav ul li a:visited:not(:only-child):after {
    padding-left: 4px;
    content: ' \025BE';
}
nav ul li ul li {
    min-width: 190px;
}
nav ul li ul li a {
    padding: 15px;
    line-height: 20px;
}
/* Mobile navigation */
.nav-mobile {
    display: none;
    position: absolute;
    top: 0;
    right: 0;
    background: transparent;
    height: 55px;
    width: 70px;
}
.tog-nav{
  display: flex;
  justify-content: center;
}
@media only screen and (max-width: 800px) 
{
    .search-box{
        width:100%;
        display: flex;
        position: relative;
        justify-content: right;
      }
      .search-input{
        width: 40%;
        height: 30px;
        padding: 10px;
        border: 2px solid #111d5e;
        border-radius:10px 0 0 10px ;
        border-right: none;
        outline: none;
        font-size: 20px;
        color: tomato;
        background: none;
      }
      .search-button{
       text-align: center;
      height:30px;
      width: 40px;
      outline: none;
      cursor: pointer;
      border: 2px solid #111d5e;
     border-radius:0 10px 10px 0 ;
      border-left: none;
      color: white;
      background: #B161A7;
      font-size: 20px;
      border-left: 4px solid #111d5e;
      }
    .nav-mobile {
        display: block;
   }
    nav {
        width: 100%;
        padding: 55px 0 15px;
   }
    nav ul {
        display: none;
   }
    nav ul li {
        float: none;
   }
    nav ul li a {
        padding: 15px;
        line-height: 20px;
        background: #262626;
   }
    nav ul li ul li a {
        padding-left: 30px;
   }
   .tog-nav{
    display: none;
    justify-content: center;
  }
   
@media screen and (min-width:800px) {
    .nav-list {
        display: block !important;
   }
}
.tog-nav{
  display: none;
  justify-content: center;
}
#navbar-toggle {
    position: absolute;
    left: 18px;
    top: 15px;
    cursor: pointer;
    padding: 10px 35px 16px 0px;
}
#navbar-toggle span, #navbar-toggle span:before, #navbar-toggle span:after {
    cursor: pointer;
    border-radius: 1px;
    height: 3px;
    width: 30px;
    background: #ffffff;
    position: absolute;
    display: block;
    content: '';
    transition: all 300ms ease-in-out;
}
#navbar-toggle span:before {
    top: -10px;
}
#navbar-toggle span:after {
    bottom: -10px;
}
#navbar-toggle.active span {
    background-color: transparent;
}
#navbar-toggle.active span:before, #navbar-toggle.active span:after {
    top: 0;
}
#navbar-toggle.active span:before {
    transform: rotate(45deg);
}
#navbar-toggle.active span:after {
    transform: rotate(-45deg);
}
}
  